


<div class="container-fluid">
	
	<div class="row">

		<div class="col-md-2-offset-3">

			<h1 class="home-page-header">Find</h1>

		</div>

		<div class="col-md-6-offset-3">

			<h1 class="home-page-header">Tennis PLAYERs</h1>
			<h1 class="home-page-header">Tennis PROs (instructors)</h1>
			<h1 class="home-page-header">Tennis COURTS (to play on)</h1>
		</div>

	</div>

</div>