<h1>Join TennisAnyone</h1>

<!-- Show the error messages, if any, at time of sign-up -->

		<ul>
			<% @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>

<%= render "shared/form_users" %>